<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informasi Alur Pencairan Fee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="timeline">
    <div class="outer">
      <h1 class="tai">Data Pendaftaran</h1>
      <div class="card">
        <div class="info">
          <h1 class="title"></h1>
          <p>
            <span class="word1">Pengecekan Nominal Fee Pendaftaran</span> dapat
            di cek melalui menu <span class="word2">Data Pendaftaran</span>
            pastikan terdapat jumlah Fee Pendaftaran
          </p>
        </div>
      </div>

      <h2 class="text6">Konfirmasi ke bagian BAUM</h2>
      <div class="card">
        <div class="info">
          <h3 class="title"></h3>
          <p>
            <span class="word12"> BAUM</span>, silahkan anda untuk konfirmasi
            dengan menunjukan daftar data Pendaftaran dengan status
            <span class="word13">"Verifikasi Pendaftaran Ok" </span>.
          </p>
        </div>
      </div>

      <h2 class="text4">Proses Pencairan Fee Selesai</h2>
      <div class="card">
        <div class="info">
          <h3 class="title"></h3>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</ion-content>