<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informasi Alur PMB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="timeline">
    <div class="outer">
      <h1 class="tai">Pendaftaran</h1>
      <div class="card">
        <div class="info">
          <h1 class="title"></h1>
          <p>
            <span class="word1">Kegiatan Pendaftaran</span> dapat dilakukan
            mulai
            <span class="word2">tanggal 2 januari s/d 31 agustus 2022</span>
            Biaya Pendaftaran sebesar Rp.300.000,00.
          </p>
        </div>
      </div>

      <h2 class="text3">Mengikuti Tes Potensi Akademik dan Wawancara</h2>
      <div class="card">
        <div class="info">
          <h3 class="title"></h3>
          <p>
            <span class="word3">Tes Potensi Akademik (TPA)</span> Kegiatan ini
            dilakukan untuk mengetahui kompetensi pengetahuan umum dimana ada 3
            jenis pertanyaan diantaranya adalah pertanyaan
            <span class="word4">logika, matematika dan umum</span>,
            <span class="word6">TPA</span> dilakukan menggunakan berbasis
            komputer yang diselenggarakan offline/online.
            <span class="word5">Wawancara</span> Kegiatan ini dilakukan untuk
            mengetahui minat dan bakat calon mahasiswa.
          </p>
        </div>
      </div>

      <h2 class="text3">
        Pengumuman Hasil TPA dan Melakukan Biaya Daftar Ulang
      </h2>
      <div class="card">
        <div class="info">
          <h3 class="title"></h3>
          <p>
            <span class="word7">Kegiatan daftar ulang</span> Bisa dilakukan
            secara <span class="word8">Online</span> atau
            <span class="word9">Offline</span>. Setelah ada pengumuman pengenai
            lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa yang
            <span class="word10">dinyatakan lolos</span> bisa langsung melakukan
            kegiatan <span class="word11">daftar ulang</span>daftar ulang.
          </p>
        </div>
      </div>

      <h2 class="text4">Melakukan kegiatan Pra-Studi</h2>
      <div class="card">
        <div class="info">
          <h3 class="title"></h3>
          <p>
            <span class="word12"> Pelaksanaan kegiatan Pra-Studi</span>
            Dilaksanakan di 1 lokasi. Fakultas Ekonomi dan Komputer dilaksanakan
            di <span class="word13">Gedung Kampus Pajajaran</span>.
          </p>
        </div>
      </div>

      <h2 class="text5"></h2>
      <div class="info">
        <h3 class="title"></h3>
      </div>
    </div>
  </div>
</ion-content>